# Files for git to ignore
*~

# files generated during transcriptome assembly and gene expression analysis
*.amb
*.ann
*.bwt
*.fai
*.pac
*.xa
*.fq
*.fa
*.fastq
*.fasta
*.sa
*.bam
*.sam
*.bai
*.sai
*.nhr
*.nin
*.nsq
*.json
*.bed
*.keep
*.zip

# other files to ignore
*.pdf
*.out

# python
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
